[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
Flask-RESTful = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pyyaml = "*"
iso4 = {ref = "dev", git = "https://github.com/pierre-24/iso4.git"}

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"