.container {
    margin: auto;
    width: 800px;
    padding: 24px;
}

#input-form {
    text-align: center;
}

#input-form input[type=text] {
    margin: 0;
    padding: 4px 8px;
    height: 32px;
    border: 1px solid #999;
    border-right: 0;
    border-radius: 0;
}

#input-journal {
    border-radius: 5px 0 0 5px !important;
}

#input-volume {
    width: 100px;
}

#input-page {
    width: 100px;
}

#input-submit {
    border: 1px solid #999;
    padding: 4px 8px;
    border-radius: 0 5px 5px 0 !important;
    height: 42px;

}