<!DOCTYPE html>
<html lang="en">
<head>
    <title>goto publication</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container" id="logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo {{ prog_name }}">

        <p>{{ subtitle }} (<a href="#" id="explainLink">how?</a>)</p>
    </div>

    <div class="container">

        <div id="flash-messages"></div>
        <div id='help-message'></div>

        <form id="input-form">
            <select id="input-suggs-source" data-help="Tune the source of the suggestions: <b>name</b> or <b>abbreviation</b> of the journal."><option value="name" selected>Name</option><option value="abbr">Abbreviation</option></select><!--
            --><input type="text" title="Journal" placeholder="Journal" id="input-journal" data-help="Type the name of the journal or its abbreviation (depending on what you selected left). Suggestions will appear while you are typing."><!--
            --><input type="text" title="Volume"  placeholder="Volume" id="input-volume" data-help="Give the volume of the article (may be the year, depending on the journal)."><!--
            --><input type="text" title="Page" placeholder="Page" id="input-page" data-help="Give the (starting) page of the article"><!--
            --><select id="input-action" data-help="Select what you want: <b>URL</b> (faster but maybe incorrect) or <b>DOI</b> (slower but correct) ?"><option value="doi" selected>DOI</option><option value="url">URL</option></select><!--
            --><input type="button" title="Goto!" value="Get!" id="input-submit" data-help="Finally, click the button: the result will appear below.">
        </form>
    </div>

    <div class="container">
        <table id="table-results"></table>
    </div>

    <footer>
            <p>
                <a href="{{ repo_url }}">{{ prog_name }}/{{ prog_version }}</a>, made by <a href="{{ author_url }}">{{ author_name }}</a>
            </p>
    </footer>

    <script src="{{ url_for('static', filename='bundled.main.js') }}"></script>
    <script src="https://kit.fontawesome.com/05ac4d5efb.js"></script>
</body>
</html>
