<!DOCTYPE html>
<html lang="en">
<head>
    <title>goto publication</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://kraaden.github.io/autocomplete/autocomplete.css">
</head>
<body>

    <div class="container">
        <div id="flash-messages"><a href="#" onclick="$('#flash-messages').css('display', 'none')" class="close">&cross;</a><p class="content"></p> </div>

        <form id="input-form">
            <input type="text" title="Journal" placeholder="Journal" id="input-journal"><!--
            --><input type="text" title="Volume"  placeholder="Volume" id="input-volume"><!--
            --><input type="text" title="Page" placeholder="Page" id="input-page"><!--
            --><input type="button" title="Goto!" value="Goto!" id="input-submit">
        </form>
    </div>

    <script src="{{ url_for('static', filename='bundled.main.js') }}"></script>
</body>
</html>
