<!DOCTYPE html>
<html lang="en">
<head>
    <title>goto publication</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div id="flash-messages"><a href="#" class="close">&cross;</a><p class="content"></p> </div>

        <form id="input-form">
            <input type="text" title="Journal" placeholder="Journal" id="input-journal"><!--
            --><input type="text" title="Volume"  placeholder="Volume" id="input-volume"><!--
            --><input type="text" title="Page" placeholder="Page" id="input-page"><!--
            --><select id="input-action"><option value="doi">DOI</option><option value="url">URL</option></select><!--
            --><input type="button" title="Goto!" value="Get!" id="input-submit">
        </form>
    </div>

    <div class="container">
        <table id="table-results"></table>
    </div>

    <script src="{{ url_for('static', filename='bundled.main.js') }}"></script>
    <script src="https://kit.fontawesome.com/05ac4d5efb.js"></script>
</body>
</html>
